body{
    background-color: #049a90;
    overflow-x: hidden;
 
}
.now{
  font-family: 'Courier New', Courier, monospace;
  font-size: 700%;
  text-align: center;
  color: #049a90;
 -webkit-text-stroke: 7px aliceblue;
}
.ltat{
  font-family: "obliqua", sans-serif;
font-weight: 700;
font-style: italic;
  font-size: 350%;
  text-align: center;
  color:  #049a90;
  -webkit-text-stroke: 2px aliceblue;
  position: relative;
  top: -150px;
}
.dml{
  font-family: "obliqua", sans-serif;
font-weight: 700;
font-style: italic;
  font-size: 350%;
  text-align: center;
  color: #049a90;
  -webkit-text-stroke: 2px aliceblue;
  position: relative;
  top: -230px;
}
.ipod{
    position: relative;
    top: -1500px;
    left: 600px;
    transform: rotate(15deg)
}
.di1{
  position: relative;
  top: -300px;
  left: -150px;

}
.di2{
  position: relative;
  top: -4200px;
  left: -300px;

}
.di3{
  position: relative;
  top: -6300px;
  left: 200px;

}
.comp{
  position:relative;
  top: -7850px;
  left: 300px;
}
.box{
  width: 1200px;
  height: 1100px;
  background-color: black;
  border: 10px dashed white;
  position: relative;
  left: 100px;
  top: -200px;
}

.header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px;
}

.next{
    font-family: "indivisible", sans-serif;
    font-weight: 700;
    font-style: italic; 
    color: aliceblue;
    position: relative;
    left: 700px;
}
.back{
    font-family: "indivisible", sans-serif;
    font-weight: 700;
    font-style: italic; 
    color: aliceblue
}
